target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/**
!**/src/test/resources/archetype-resources/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!extracting_jar_id.txt

### VS Code ###
.vscode/

### Operating System Files ###
*.DS_Store
Thumbs.db

### Environment Files ###
.env
.env.local
*.env
.env.*
